<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/akhan/ak/IJ/ui-automation-selenium-java">
        <classes>
            <class name="com.ak.selenium.tests.HomePageTests"/>
            <class name="com.ak.selenium.tests.StorePageTests">
                <methods>
                    <include name="tc_1_verifyHomePageTitle"/>
                    <include name="tc_1_verifyPageTitle"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>